<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--60)">
	<!-- wp:group {"tagName":"article","align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
	<article class="wp-block-group alignfull">
		<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
		<div class="wp-block-group">
			<!-- wp:breadcrumbs {"prefersTaxonomy":true,"showCurrentItem":false} /-->
			<!-- wp:post-terms {"term":"category"} /-->
			<!-- wp:post-title {"level":1,"fontSize":"huge"} /-->
			<!-- wp:pattern {"slug":"shortlaxi/post-byline"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-featured-image {"aspectRatio":"16/9","sizeSlug":"large","align":"wide"} /-->

		<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

		<!-- wp:pattern {"slug":"shortlaxi/post-tags"} /-->

		<!-- wp:pattern {"slug":"shortlaxi/author-box"} /-->
	</article>
	<!-- /wp:group -->

	<!-- wp:separator {"className":"is-style-wide"} -->
	<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
	<!-- /wp:separator -->

	<!-- wp:pattern {"slug":"shortlaxi/post-navigation"} /-->

	<!-- wp:pattern {"slug":"shortlaxi/comments"} /-->

	<!-- wp:pattern {"slug":"shortlaxi/more-stories"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
